Flask==0.10.1
Flask-Cake==0.3.0
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.9.6
argh==0.25.0
argparse==1.2.1
gunicorn==19.1.1
itsdangerous==0.24
jdcal==1.0
openpyxl==2.1.2
pathtools==0.1.2
six==1.6.1
watchdog==0.8.1
wsgiref==0.1.2
